{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous">
    <title>
        {% block title %} 
        RweetBlog
        {% endblock %}
    </title>

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
        <div class="container-fluid">
          <!--Left Icon or Name-->
          <a class="navbar-brand fw-bold fs-4 text-primary" href="{% url 'tweet_list' %}">Rweet</a>
            <div class="d-flex align-items-center gap-2">
                <a class="navbar-brand small" href="{% url 'features_rweet' %}" style="font-size: 15px;">Features</a>
                <a class="navbar-brand small" href="{% url 'pricing_view' %}" style="font-size: 15px;">Pricing</a>
                <a class="navbar-brand small" href="{% url 'faq' %}" style="font-size: 15px;">FAQ's</a>
                <a class="navbar-brand small" href="{% url 'about_rweet' %}" style="font-size: 15px;">About</a>
            </div>
          <!-- Toggler for mobile -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#authLinks"
              aria-controls="authLinks" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navbar content -->
          <!-- Right- Authentication Links-->
          <div class="collapse navbar-collapse justify-content-end" id="authLinks">
              <div class="d-flex mt-2 mt-lg-0">
                  {% if user.is_authenticated %}
                      <form method="post" action="{% url 'logout' %}" class="me-2">
                          {% csrf_token %}
                          <button class="btn btn-danger" type="submit">Logout</button>
                      </form>
                  {% else %}
                      <a href="{% url 'register' %}" class="btn btn-primary me-2">Register</a>
                      <a href="{% url 'login' %}" class="btn btn-success">Login</a>
                  {% endif %}
              </div>
          </div>
        </div>
      </nav>

    <div class="container py-4">
        {% block content %}
        {% endblock %}
    </div>
   
    <!-- Footer -->
    {% block footer %}
    <footer class="py-4 mt-auto bg-dark text-white">
        <div class="container">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{% url 'tweet_list' %}" class="nav-link px-2 text-white">Home</a></li>
                <li class="nav-item"><a href="{% url 'features_rweet' %}" class="nav-link px-2 text-white">Features</a></li>
                <li class="nav-item"><a href="{% url 'pricing_view' %}" class="nav-link px-2 text-white">Pricing</a></li>
                <li class="nav-item"><a href="{% url 'faq' %}" class="nav-link px-2 text-white">FAQs</a></li>
                <li class="nav-item"><a href="{% url 'about_rweet' %}" class="nav-link px-2 text-white">About</a></li>
            </ul>
            <p class="text-center mb-0">© 2024 <a class="text-white text-decoration-none" href="https://vaibhav0x.github.io/Vaibhav-Portfolio/" target="_blank" rel="noopener noreferrer">Vaibhav Raj</a>, Inc</p>
            <div class="text-center mb-0 px-2">
                    <a target="_blank" href="https://www.linkedin.com/in/vaibhav-raj-0x/" rel="noopener noreferrer">
                        <img src="{{ MEDIA_URL }}photos/linkedin.png" alt="LinkedIn" style="max-width: 25px; max-height: 25px;">
                    </a>
                    <a target="_blank" href="https://github.com/Vaibhav0x" rel="noopener noreferrer">
                        <img src="{{ MEDIA_URL }}photos/github.png" alt="GitHub" style="max-width: 25px; max-height: 25px;">
                    </a>
                    <a target="_blank" href="https://leetcode.com/u/Vaibhav0x/" rel="noopener noreferrer">
                        <img src="{{ MEDIA_URL }}photos/leetcode.png" alt="Leetcode" style="max-width: 25px; max-height: 25px;">
                    </a>
            </div>
        </div>
    </footer>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
    </script>
    

</body>
</html>